<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Calculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E3CE1D9C1E85D3E60054351A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3CE1DB01E85D3E70054351A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3CE1DBB1E85D3E70054351A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
